body {
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    background-color: #ffffff;
}

.cabeçalho ul li {
    list-style: none;
}

.cabeçalho ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 100px;
}

.cabeçalho {
    background-color: #171A21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.item-menu {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(198, 199, 200);
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.logo {
    padding-left: 100px;
}
/*sobre*/

main {
    width: 70%;
    margin: auto;
    margin-bottom: 456px;
}

hr {
    color: black;
}

.sobre1 {
    margin-bottom: 90px;
}

.titulo {
    text-align: center;
}

a.links_ajuda{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.lks_hover a:hover {
    text-decoration: underline;
}


/*search bar*/
* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

/*footer*/

footer {
    background-color: #171A21;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(198, 199, 200);
    margin-top: 50px;
}

a.item-footer {
    flex-direction: row;
    text-decoration: none;
    color: rgb(198, 199, 200);
}

.footer ul li {
    list-style: none;
}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 100px;
}

html {
    scroll-behavior: smooth;
}