body {
    background-color: rgb(27, 40, 56);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

h1 {
    color: aliceblue;
    text-align: center;
}

header {  
    background-color:rgb(23, 26, 33);
    text-align: center;
}

section {
    color: aliceblue;
    margin-top: 100px;
    margin-right: 20px;
    float: left;
}

form {
    color: aliceblue;
    text-align: left;
}

#loca {
    color: aliceblue;
    font-size: 35px;
    text-align: left;
}

#menu {
    text-align: center;
    color: aliceblue;
    font-size: 35px;
}


#jogos {
    text-align: center;
    color: aliceblue;
    font-size: 17px;
}

#gow {
    margin-left: 475px;
}

